.header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url(Images/Header Background.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}
* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}


header {
    display: block;
}
.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}
.sikknav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.container1{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
    
}
.music1{
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.shops {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
 .shop1{
    margin: 30px;
}
.Album1 {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}
.shop-item-image {
    height: 250px;
}
.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

div {
    display: block;
}
.btn-primary:hover {
    background-color: #2D9CDB;
}
.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}
.shop2{
    margin: 30px;
}
.Album2 {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}
.shop-item-image2 {
    height: 250px;
}
.shop-item-details2 {
    display: flex;
    align-items: center;
    padding: 5px;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

div {
    display: block;
}
.btn-primary:hover2 {
    background-color: #2D9CDB;
}
.btn-primary2 {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.btn2 {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}
.shop3{
    margin: 30px;
}
.Album3 {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}
.shop-item-image3 {
    height: 250px;
}
.shop-item-details3 {
    display: flex;
    align-items: center;
    padding: 5px;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

div {
    display: block;
}
.btn-primary3:hover {
    background-color: #2D9CDB;
}
.btn-primary3 {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.btn3 {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}
.shop4{
    margin: 30px;
}
.Album4 {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}
.shop-item-image4 {
    height: 250px;
}
.shop-item-details4{
    display: flex;
    align-items: center;
    padding: 5px;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

div {
    display: block;
}
.btn-primary4:hover {
    background-color: #2D9CDB;
}
.btn-primary4 {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.btn4 {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}
.shops2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container2{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
    
}
.merch{
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}
.shop5{
    margin: 30px;
}
.Album5 {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}
.shop-item-image5 {
    height: 250px;
}
.shop-item-details5{
    display: flex;
    align-items: center;
    padding: 5px;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

div {
    display: block;
}
.btn-primary5:hover {
    background-color: #2D9CDB;
}
.btn-primary5 {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.btn5 {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}
.shop6{
    margin: 30px;
}
.Album6 {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}
.shop-item-image6 {
    height: 250px;
}
.shop-item-details6{
    display: flex;
    align-items: center;
    padding: 5px;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

div {
    display: block;
}
.btn-primary6:hover {
    background-color: #2D9CDB;
}
.btn-primary6 {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.btn6 {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}
.container3 {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}
.cart-row {
    display: flex;
}
.cart-item {
    width: 45%;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}
.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}
.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}
.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}
.main-footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}
.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}
.footer-nav img{
    width: 30px;
    height: 30px;
}
.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}
.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.footer-nav li {
    padding: 0 .5em;
}


.nav li {
    display: inline;
}
.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}
.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}
.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.cartButton{
    height: 20px;
    width: 15px;
    
    
    border: none;
    
    position: fixed;
    top: 30px;
    right: 100px;
    
}
.cartImg{   
     height: 20px;
    width: 15px;
    border: none;
    position: fixed;
    top: 30px;
    right: 100px;
}

.pp{
    border: none;
    position: fixed;
    top: 17px;
    right: 69px;
    color:white;


}
.count{
    height: 20px;
    width: 15px;
    border: none;
    position: fixed;
    top: 10px;
    right: 100px;
    background-color: red;
    color: white;
    border-radius: 3px;
}